In [8]:
import requests
import pandas as pd
from typing import List, Tuple

def scrape_weather_data(year_month_list: List[Tuple[int, int]], columns: List[str]):
    dfs = []
    for year, month in year_month_list:
        url = f"https://www.weather.gov/source/chs/cliplot/KCHS{year}{month:02d}.json?_=17103379"
        response = requests.get(url)
        
        if response.status_code == 200:
            data = response.json()
            dates = [f"{year}-{month:02d}-{i+1}" for i in range(len(data['data']))]
            values = {column: [str(entry[column]) for entry in data['data']] for column in columns}
            values['Date'] = dates
            df = pd.DataFrame(values)
            df['Date'] = pd.to_datetime(df['Date'])
            df.set_index('Date', inplace=True)
            dfs.append(df)
        else:
            print(f"Failed to retrieve data for {year}-{month:02d}: {response.status_code}")
    
    if dfs:
        return pd.concat(dfs)
    else:
        return None

In [9]:
# Example usage:
year_month_list = [(2013, 7), (2013, 8), (2013, 9), (2013, 10), (2014, 5), (2014, 6),(2014, 7),(2014, 8),(2014, 9),(2014, 10),(2015, 5), (2015, 6),(2015, 7),(2015, 8),(2015, 9),(2015, 10), (2016, 5), (2016, 6),(2016, 7),(2016, 8),(2016, 9),(2016, 10),(2017, 5), (2017, 6),(2017, 7),(2017, 8),(2017, 9),(2017, 10),(2018, 5), (2018, 6),(2018, 7),(2018, 8),(2018, 9),(2018, 10),(2019, 5), (2019, 6),(2019, 7),(2019, 8),(2019, 9),(2019, 10),(2020, 5), (2020, 6),(2020, 7),(2020, 8),(2020, 9),(2020, 10),(2021, 5), (2021, 6),(2021, 7),(2021, 8),(2021, 9),(2021, 10),(2022, 5), (2022, 6),(2022, 7),(2022, 8),(2022, 9),(2022, 10),(2023, 5), (2023, 6),(2023, 7),(2023, 8),(2023, 9),(2023, 10)]  # Specify the year-month pairs here
column = 'pcpn','mint','maxt'
weather_df = scrape_weather_data(year_month_list, column)
if weather_df is not None:
    print(weather_df)

            pcpn mint maxt
Date
2013-07-01  0.34   75   87
2013-07-02  0.80   75   83
2013-07-03  0.56   76   88
2013-07-04  0.08   76   88
2013-07-05  0.13   75   90
...          ...  ...  ...
2023-10-27  0.00   63   85
2023-10-28  0.00   59   84
2023-10-29  0.00   59   85
2023-10-30  0.00   60   85
2023-10-31     T   57   69

[1963 rows x 3 columns]

In [11]:
weather_df

            pcpn mint maxt
Date
2013-07-01  0.34   75   87
2013-07-02  0.80   75   83
2013-07-03  0.56   76   88
2013-07-04  0.08   76   88
2013-07-05  0.13   75   90
...          ...  ...  ...
2023-10-27  0.00   63   85
2023-10-28  0.00   59   84
2023-10-29  0.00   59   85
2023-10-30  0.00   60   85
2023-10-31     T   57   69

[1963 rows x 3 columns]

In [12]:
weather_df.to_csv("pcpn.csv")